<header id="header">
	<h1><a href="index.html">Diego Alba Burbano</a></h1>
	<nav id="nav">
		<ul>
			<li class="special">
				<a href="#menu" class="menuToggle"><span>Menu</span></a>
				<div id="menu">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="aboutme.html">About</a></li>
						<li><a href="research.html">Research</a></li>
						<li><a href="outreach.html">Outreach</a></li>
						<li><a href="resources.html">Resources</a></li>
						<li><a href="leisure.html">Leisure</a></li>
					</ul>
				</div>
			</li>
		</ul>
	</nav>
</header>
